.container {
    margin-top: 20px;
}


/* Vertical Tab */

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */

.tab {
    float: left;
    border: none;
    background-color: #f1f1f1;
    width: 30%;
    height: 562px;
}

/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #ffffff;
    border: none;
}

/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 70%;
    height: 562px;
}

/* Accordion */

.bs-example {
    margin: 20px;
}

.accordion .fa {
    margin-right: 0.5rem;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
}